html, body {
    background-color: black;
    font-family:  Helvetica, Arial, sans-serif;
    color: var(--orange);
}

:root {
    --orange: rgb(253, 152, 0);
    --pink: hotpink;
    --purple: purple;
}

body {
    margin: auto;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

main {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS */
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px 0;
    max-width: 100%;
}

img {
    width: 100%;
}

.my-face {
    max-width: 300px;
}

.about {
    width: 300px;
}

h1 {
    color: var(--pink);
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0;
}

p {
    line-height: 20px;
    padding-bottom: 10px;
}

p:last-child {
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header.nav-menu > * {
    min-width: 300px;
    color: var(--pink);
    margin-bottom: 50px;
}

header nav ul {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 1px solid var(--pink);
    border-left: 1px solid var(--pink);
    min-height: 100%;
}

.nav-menu {
    width: 100%;
}

.navmenu > nav {
    position: sticky;
    min-height: 100%;
    top: 0;
}

header nav li {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0px 20px 20px;
    cursor: pointer;
}


header div {
    width: 300px;
}

section > h1 {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

/* section > header > h1 {
    padding: 5px 0;
} */



h2 {
    color: var(--pink);
    font-size: 20px;
    padding-bottom: 10px;
}

a { 
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    background-color: var(--purple);
}

li:hover {
    background-color: var(--purple);
}

.links {
    font-size: 18px;
}

.links li {
    padding: 5px 0;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.slides {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    align-self: center; 
    justify-content: center;
    padding: 10px;
    max-width: 90%;
}


.project {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 0 350px; 
    border: 1px solid var(--orange);
    margin: 10px;
    /* max-width: 100%; */
}

.project > header {
    padding: 0 10px;
    font-size: 25px;

    display: flex;
    border-bottom: 1px solid var(--orange);
    justify-content: space-between;
}

.project header h3 {
    padding: 10px 0;
} 

.project header a {
    padding: 10px 0;
}

.project img {
    border: 0 1px solid var(--yellow);
}

.project p {
    padding: 10px 10px 0 10px;
}

.project p:last-of-type {
    padding: 10px;
}

.project img {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--orange);
    
}

.pink {
    color: var(--pink);
}

.title {
    font-weight: 500;
}

.split {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 20px;
}

.split .left {
    width: 46%;
    flex: 1 0 200px;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}


.split h1 {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 0;
}

.split h2 {
    padding-bottom: 10px;
}


.split .right {
    width: 46%;
    flex: 1 0 300px;
    padding: 0 10px 10px 10px;
}

.flip {
    filter: invert(180);
}

.logo {
    max-width: 300px;
    height: auto;
}

#experience {
    padding-bottom: 0;
}

#coding {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.max-width-900 {
    width: 100%;
    max-width: 900px;
}

footer {
    border: 1px solid var(--orange);
    border-bottom: 0;
    padding: 5px
}

.justify-center {
    justify-content: center;
}

#coding {
    width: 100%;
}

#coding section {
    margin: 0 20px;
}

.code-block {
    margin: 10px !important;
    max-width: 100%;
}

code {
    max-width: 100%;
    overflow: auto;
}
